@model Prectica_1.Models.Pago;
@{
    ViewData["Title"] = "Lista de Pagos";
}
<div class="text-center">
    <h1 class="display-3">Editar Pago</h1>
</div>
<form asp-action="PagoEditarCocnepto" method="post" enctype="multipart/form-data">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="id_pago" />

    @* <div class="form-group">
    <label asp-for="id_pago" class="control-label">id_pago</label>
    <input asp-for="id_pago" class="form-control" />
    <span asp-validation-for="id_pago" class="text-danger"></span>
    </div> *@

    <div class="form-group">
        <label for="nombreCompleto">Nombre Completo</label>
        <input type="text" class="form-control" id="nombreCompleto"
            value="@($"{Model.inquilino.nombre} {Model.inquilino.apellido}")" readonly>
    </div>
    <div class="form-group">
        <label for="telefono">Teléfono</label>
        <input type="text" class="form-control" id="telefono" value="@Model.inquilino.telefono" readonly>
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" value="@Model.inquilino.email" readonly>
    </div>
    <div class="form-group">
        <label for="importe">Importe</label>
        <input type="text" class="form-control" id="importe" value="@Model.importe" readonly>
    </div>
    <div class="form-group">
        <label asp-for="concepto">Concepto</label>
        <input asp-for="concepto" class="form-control" id="concepto" value="@Model.concepto">
        <span asp-validation-for="concepto" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="estado">Estado</label>
        <input type="estado" class="form-control" value="@Model.estado" readonly>
    </div>
    <div class="form-group">
        <label for="fecha">Fecha</label>
        <input type="text" class="form-control" id="fecha" value="@Model.fecha.ToString("dd/MM/yyyy")" readonly>
    </div>
    <button type="submit" value="PagoEditarCocnepto" class="btn btn-primary btn-sm mt-3">Aceptar boton</button>

</form>
